.body {
  flex: 1;
  // height: 100%;
  height: 100vh;
  overflow: auto;
  @media screen and (max-width: 1140px) {
    margin: 0rem 1rem 1rem;
  }
  .container {
    max-width: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
    .celcius,
    .farenheit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      background-color: #585676;
      color: #e7e7eb;
      border-radius: 50%;
      p,
      span {
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.3rem;
        text-align: center;
      }
    }
    .active {
      color: #110e3c;
      background-color: #e7e7eb;
    }
  }
  .weekly__weather {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    .weather__card {
      background-color: #1e213a;
      max-width: 7rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      align-items: center;
      justify-content: center;
      img {
        height: 3.9rem;
      }
      .temperature {
        display: flex;
        gap: 1rem;
        .min,
        .max {
          display: flex;
          p,
          span {
            font-family: "Raleway", sans-serif;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2rem;
            letter-spacing: 0em;
            text-align: left;
          }
        }
        .min {
          color: #a09fb1;
        }
      }
    }
  }
  .weather__highlights {
    .heading {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #e7e7eb;
      margin-bottom: 2.5rem;
    }
    .card__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 0.5fr;
      gap: 3rem;
    }
    .card {
      background-color: #1e213a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 1rem 1.5rem 1rem;
      color: #e7e7eb;
      .title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1rem;
        letter-spacing: 0em;
        text-align: center;
      }
      .quantity {
        display: flex;
        p {
          font-size: 4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 4.7rem;
          letter-spacing: 0em;
          text-align: left;
        }

        span {
          align-self: flex-end;
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.6rem;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .icon {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.9rem;
        letter-spacing: 0em;
        text-align: left;
      }
      .progressbar {
        // width: 100%;
        width: 80%;
        color: #a09fb1;
        .progress__label {
          display: flex;

          & > * {
            flex-basis: 100%;
          }
          .middle {
            text-align: center;
          }
          .last {
            text-align: right;
          }
        }
      }
      .percentage {
        text-align: right;
      }
      .wind__info {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        .wind__icon {
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 50%;
          color: #e7e7eb;
          background-color: #616475;
          display: grid;
          place-content: center;
          span {
            font-size: 1rem;
            transform: rotate(-180deg);
          }
        }
      }
    }

    .card2 {
      background-color: #1e213a;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 1rem 1rem;
      color: #e7e7eb;
      .title {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1rem;
        letter-spacing: 0em;
        text-align: center;
      }
      .quantity {
        display: flex;
        gap: 1rem;
        p {
          font-size: 4rem;
          font-style: normal;
          font-weight: 600;
          line-height: 4.7rem;
          letter-spacing: 0em;
          text-align: left;
        }

        span {
          align-self: flex-end;
          font-size: 2.3rem;
          font-style: normal;
          font-weight: 500;
          line-height: 2.6rem;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .icon {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.9rem;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}
