@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: "Raleway", sans-serif;
  min-height: 100%;
  background-color: #100e1d;
  color: #e7e7eb;
}

.container {
  display: flex;
  height: 100%;
  min-height: 100%;
}
