@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;900&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  color: #e7e7eb;
}
