.progress {
  background-color: #e7e7eb;
  border-radius: 20px;
  position: relative;
  margin: 5px 0;
  height: 10px;
  width: 100%;
}

.progress-done {
  background-color: #ffec65;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
