.sidebar {
  min-width: 20rem;
  background-color: #1e213a;
  background-size: cover;
  background-position: center;
  padding: 2rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .sidebar__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search__btn {
      background-color: #6e707a;
      color: #e7e7eb;
      font-family: "Raleway", sans-serif;
      border: none;
      width: 10.1rem;
      height: 2.5rem;
      font-size: 1rem;
      font-weight: 100;
      box-shadow: 0px 4px 4px 0px #00000040;
      cursor: pointer;
    }
    .gps {
      width: 2.5rem;
      height: 2.5rem;
      justify-content: center;
      display: flex;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #88869d;
  }
  .sidebar__details {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .weather__icon {
      margin-bottom: 2rem;
      flex: 0.6;
      display: grid;
      place-items: center;
      img {
        height: 9rem;
        object-fit: contain;
      }
    }
    .weather__temperature {
      display: flex;
      justify-content: center;
      flex: 0.2;
      .temperature {
        font-size: 7.5rem;
        font-weight: 500;
        color: #e7e7eb;
      }
      span {
        color: #88869d;
        font-family: "Raleway", sans-serif;
        font-size: 3rem;
        align-self: flex-end;
      }
    }
    .weather__description {
      margin-top: 2rem;
      flex: 0.2;

      p {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
  .sidebar__location {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    span {
      color: #88869d;
    }
  }
  .sidebar__date {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: #88869d;
  }
}
